<title> Admin</title>
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/flag-icon-css/css/flag-icons.min.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
<link rel="stylesheet" href="~/AdminPanel/src/assets/css/style.css">
<link rel="shortcut icon" href="~/AdminPanel/src/assets/images/favicon.png" />

