
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model GenelFilteredModel
<div class="container">
	<form method="post" asp-action="PayRateFiltered" asp-controller="Students">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<input type="hidden" asp-for="StudentId"/>
		
		<div class="form-group">
			<label class="form-label" asp-for="StartDate">Başlangıç Tarihi</label>
			<input type="date" asp-for="StartDate" class="form-control" />
			<span class="text-danger" asp-validation-for="StartDate"></span>
		</div>
		<div class="form-group">
			<label class="form-label" asp-for="EndDate">Bitiş Tarihi</label>
			<input type="date" asp-for="EndDate" class="form-control" />
			<span class="text-danger" asp-validation-for="EndDate"></span>
		</div>
		<div class="form-group text-center">
			<input class="btn btn-info w-100 text-center" value="Raporla" formtarget="_blank"/>
		</div>
	</form>
</div>

@section Scripts{
	<partial name="~/Views/Shared/validation.cshtml"></partial>
}