@using EntityLayer.Entities;
@model Student

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
	<h1 class="h3">Mail Gönder</h1>
	<hr />

	<form method="post" asp-action="SendMailVeli" asp-controller="Students" enctype="multipart/form-data">
		<div class="text-info" asp-validation-summary="ModelOnly"></div>
		<input type="hidden" name="studentId" value="@Model.StudentId"/>
		<div class="form-group">
			<select name="id" class="form-select">
				<option value="-1" disabled selected>Veli Seçiniz...</option>
				<option value="0">Hepsine Gönder</option>
				@foreach (var item in Model.Parents)
				{
					<option value="@item.ParentId">@(item.Name + " " + item.Surname + "-"+ item.ParentType.ToString())</option>

				}
			</select>
		</div>
		<div class="form-group">
			<label class="form-label">Dosya</label>
			<input type="file" class="form-control" name="File" />
		</div>
		<div class="form-group text-center">
			<button class="btn btn-dark w-100 text-center">Mail Gönder</button>
		</div>
	</form>
</div>

@section Scripts{
	<partial name="~/Views/Shared/validation.cshtml"></partial>
}